HOST=0.0.0.0
PORT=1337
APP_KEYS=bLUosZyo1FXGIBPIyDZhLA==,bcrx9caqZiWPa+MIydQVWw==,b4TEeJl17tpEFCAEK2FHGw==,ZTqrqCe2RU1vgigtjkCEww==
API_TOKEN_SALT=CtNPzM5KpqnsWEY1UkpbYQ==
ADMIN_JWT_SECRET=PAqwTTF1ZYwkwg4Xzxsmdg==
TRANSFER_TOKEN_SALT=mx1XaXX/OW0JCGqC1KPy3Q==
DATABASE_CLIENT=mysql
DATABASE_HOST=srv1644.hstgr.io
DATABASE_PORT=3306
DATABASE_NAME=strapi_db
DATABASE_USERNAME=	u762375040_abhirig
DATABASE_PASSWORD=pxxrRpP&1I
DATABASE_SSL=false
JWT_SECRET=2ySW+d1/XzcRdCNLORA9jA==